@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Patua+One&family=Style+Script&display=swap');

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.lead {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-center{
  font-family:'Caprasimo', cursive;
}

.form-control{
margin-bottom: 2%;

}

#coment{
  margin-bottom: 4%;
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  border: solid 1px gray;
  padding: 1%;
  box-shadow: 5px 5px #888;
}


#h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(247, 130, 28);
  display: grid;
  margin-right:30px;
  place-content: center;
  padding: 1%;
}

#comentarioInput {
  border-radius: 10%;
  border-color: rgb(247, 130, 28);
  text-align: center; 
  display: grid;
  place-content: center;
}

#floatingTextarea2 {
  height: 100px;
  width: 400px;
  display: grid;
  place-content: center;
}

#puntajeInput{
  display: grid;
  place-content: center;
}

#select {
    width: 50px;
    margin-left: 280px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5%;
    opacity: 60%;
    width: 160px;
    display: grid;
    place-content: center;
}

#button {
  margin-top: 25px;
  text-align: center; 
}

#enviar {
  border-radius: 0.3rem;
  color: #fff;
  background-color: rgb(247, 130, 28);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

.cambiarModo{
  background: rgba(255, 192, 74, 0.684);
  border-radius: 1000px;
  border: none;
  position: relative; 
  cursor: pointer; /*cambia el cursor*/
  display: flex; /*icono a lado de otro*/
  outline: none; /*quitar borde*/

}

.cambiarModo span {
  width:30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: white;
}

.cambiarModo::after{ /*lo que va a pasar despues*/
  content: ""; /*contenido vacio*/
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: white;
  top: 0; /*position*/
  left: 0;
  right: unset; /*restablece el valor de la propiedad*/
  border-radius: 100px;
  transition: .3s;  /*0.3 segundos demora en cambiar*/
  box-shadow: 0px 0px 2px 2px rgba (0,0,0,.2);
} 

.active{ /*clase que se activa cuando le doy click cambia lo que sucede */
  color: black;
  background: gray;
}

.active::after{
  right: 0;
  left: unset;
}

#index{
  background: white;
  
}
#btnCambio{
  display: grid;
  place-items: center;
}

.carousel-inner{
display: flex;
align-items: center;
max-height: 50%; 
height: auto;
text-align: center;
max-width: 70%;
max-height: 50vh;
margin: 0 auto;
  
}
#carouselExample{
max-width: 80%; 
margin: 0 auto; 
display:block;
place-items: center;
margin-left: 400px;
    
}

.carousel-control-next-icon{
  background-color: grey;
}


.carousel-control-prev-icon{
  background-color: grey;
}

#centrarRelated{
  display: grid;
  place-items: center;
}

#formenvio{
  margin-left: 100px;
}

.navbar-nav {         /* codigo para centrar el navbar */ 
  display: flex;
  flex-direction: row;
}

.nav-item {       /* codigo para centrar el navbar*/
  flex: 1;
}


@media (max-width: 900px) {           /* Formato para texto en resposive desing para tamaños menores a 900px */
  .text-muted {         
    font-size: 1.25vw;
   }
  h4,.btn {
    font-size: 3vw;
  }
  #rangeFilterCount,#clearRangeFilter,.form-control,#categoryName,#productSearch,.col {
    font-size: 2vw;
  }
  h1,h2 {
    font-size: 8vw;
    }
  .lead {
    font-size: 4vw;
  }
  #coment {
    font-size: 2.5vw;
  }
  #containerItemsInfoProduct h4 {
    font-size: 4vw;
  }
  #containerItemsInfoProduct .mb-1 {
    font-size: 2.75vw;
  }
  #comentarioInput #h1 {
    font-size: 4.5vw;
  }
  #escritura_de_comentario {
    font-size: 100vw;
  }
  #productsRelated .card-body .card-title {
    font-size: 2vw;
    }
}

@media (min-width: 901px) {             /* Formato para texto en resposive desing para tamaño mayor a 900px */
  .text-muted {         
    font-size: 1.7vh;
  }
  h4 {
    font-size: 3.5vh;
  }
  #productSearch, .btn {
    font-size: 2vh;
  }
  #categoryName {
    font-size: 1000vh;
  }
  #rangeFilterCount,#clearRangeFilter,.col, .form-control {
    font-size: 2.2vh;
  }
  h1,h2 {
    font-size: 7vh;
  }
  .lead {
    font-size: 3vh;
  }
  #coment {
    font-size: 1.75vh;
  }
  #containerItemsInfoProduct h4 {
    font-size: 3vh;
  }
  #containerItemsInfoProduct .mb-1 {
    font-size: 1.75vh;
  }
  #comentarioInput #h1 {
    font-size: 4vh;
  }
  #escritura_de_comentario {
    font-size: 1vh;
  }
  #productsRelated .card-body .card-title {
  font-size: 2vh;
  }
}
.nav-item , .navbar-brand{
  margin-right: 50px;
}

/* Estilos generales del modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  max-width: 400px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

/* Estilos para los campos del formulario */
.modal-content input[type="text"],
.modal-content select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.modal-content span{

color: black ;
padding: 10px 20px;
border: none;
border-radius: 3px;
cursor: pointer;
}

/* Estilos para el botón de enviar */
.modal-content input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Estilos para el título del formulario */
.modal-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Clase para ocultar elementos */
.hidden {
  display: none;
}